
__pycache__/
*.pyc

.\backend\out\*
!.\backend\out\.gitkeep
.\backend\test_data\

node_modules/
dist/

*.log

# Ignore heavy local data
dataset/
processed_output/
models/
test_results/
*.json
*.jpg
*.png
test.txt
test_dataset_image.py
test_trigger.py
